$vivid-blue: #2a14d9;
$very-dark-blue:#0a2a66;
$strong-cyan: #14bf96;
$mostly-black-blue: #21242c;
$light-grayish-orange: #f7f5f4;
$light-grayish-blue: #d6d8da;


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Inika', serif;
}

.flex {
	display: flex;
	flex-flow: wrap;
}


nav {
	position: absolute;
	z-index: 1;
	padding: 2% 5%;
	width: 100%;

	h2 {
		float: left;
		margin: -5px 0 0;
		color: white;
		font-size: 1.5em;
		font-style: italic;
	}

	div.links-container {
		width: 60%;
		float: right;
	}

	a {
		padding: 0 5%;
		color: white;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
		text-decoration-color: white;
	}
}


.sections {
	padding: 10% 5%;
	overflow: hidden;

	h2 {
		margin-bottom: 2%;
		font-size: 1.5em;
		text-decoration: underline;
		text-decoration-color: $vivid-blue;
		text-decoration-color:#015a9a;
		color: $mostly-black-blue;
	}
}


.first-section {
	padding: 22% 5%;
	color: white;
	background-image: url("../img/hero-image-2.jpg");
	background-color: #015a9a;
	background-blend-mode: multiply; /*darkens the bg-image (via the bg-color)*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;

	h1 {
		font-size: 5em;
	}
}

.second-section p {
	margin: 2% 0 0;
	font-size: 1.2em;
}

.third-section,
.fourth-section {
	background-color: $light-grayish-orange;

	.flex { 
		.column {
			flex: 20%;
			padding: 2%;
			margin: 0 2.5%;
			border-radius: 10px;
			box-shadow: 0 0 2px 0;
			background-color: #fff;

			h3 {
				margin: 2% 0;
				font-size: 1.3em;
			}

			h4 {
				margin: 2% 0;
				color: $vivid-blue;
			}

			a {
				display: block;
				margin: 2% 0 0;
				color: $vivid-blue;
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
				text-decoration-color: var(vivid-blue);
			}
		}
	}
}

.fourth-section {
	background-color: initial;
}