header {
    width: 100%;

    nav {
        padding: 2% 5% 0;
        margin-bottom: -5%;
        color: #fff;
        overflow: hidden;

        img {
            float: left;
        }

        ul {
            float: right;
            width: 50%;

            li {
                flex: 20%;
                font-weight: 400;

                button {
                    width: 100%;
                    margin-top: -5%;
                    font-size: 1em;
                }
            }
        }
    }
}
